
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    font-family: 'Ruda', sans-serif;
}

#top {
    background: url(images/brasilia.jpeg);
    background-size: cover;
    padding: 15%;
    color: white;   
}

h1 {
    background-color: #457B9D;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    background-color: #1D3557;
    border-radius: 10px;
}

.mid {
    display: inline-block;
    flex-direction: row;
    align-items: stretch;
    background-color: #F1FAEE;
    color: #1D3557;
    padding-top: 10px;
}

#pics {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #F1FAEE;
    padding: 40px;
    color: #1D3557;   
}

.torre {
    border-radius: 50%;   
}

.torre:hover {
    border-radius: 45%;
}

.jk {
    border-radius: 50%;
}

.jk:hover {
    border-radius: 45%;
}

.catedral {
    border-radius: 50%;
}

.catedral:hover {
    border-radius: 45%;
}

img { 
    width: 150px;
}

img:hover {
    width: 155px;
    box-shadow: 2px 2px 2px;
}

.bot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background: #A8DADC;
    width: 450px;
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
    border-bottom: 5px solid #457B9D;
    padding: 10px;
    color: #1D3557;
    margin-bottom: 40px;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}